@media screen {
  #printSection {
    display: none;
  }
}
@media print {
  body * {
    visibility: hidden;
  }
  #printSection,
  #printSection * {
    visibility: visible;
  }
  #printSection {
    position: absolute;
    left: 0;
    top: 0;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  
}

.h5-header {
  font-weight: bold;
}

#nav {
  color: black;
}

#searchDiv {
  margin-top: 5px;
}

.rounded {
  border-radius: 25px;
}


#resultsCard {
  margin: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.search-image {
  margin-top: 5px;
  height: 600px;
  padding: 10rem 5%;
  position: relative;
  background: rgba(0, 0, 0, 0.45);
  background-size: cover;
  background-repeat: no-repeat;
}

/* image from: https://ny.eater.com/2019/11/14/20963129/chicken-parm-nyc-dating-singles-turn-on-horny-aphrodisiac */
.search-image:after {
  content: '';
  position: absolute;
  background-image: url('https://cdn.vox-cdn.com/thumbor/6AKlzeBJIHd0v-68M0Hzli-4w6w=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/7138197/20160920-untitled-Mama_Guidera_chicken_parm.0.jpg');
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.7;
  background-position-y: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-image-inside {
  text-align: center;
  padding: 20px;
  margin-top: 0px;
  color: white;
}

.search-bar {
  text-align: center;
}

#searchBox {
  top: 45%;
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.row-1 {
  width: 78%;
}

#logo {
  width: 200px;
  margin-top: 20px;
}

#signUpButton {
  font-family: 'Montserrat', sans-serif;
}

.manage-view-buttons {
  margin-top: 50px;
}
#groceryButton {
  background-color: #f2d349;
}
#savedRecipeButton {
  background-color: #f2d349;
}

/* photo from: https://www.freepik.com/free-photos-vectors/background */
#page-div {
  background-image: url('../images/backgroundsearch.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

#saved-header {
  color: white;
  font-weight: 600;
  margin-top: 100px;
  font-size: 8vw;
  letter-spacing: 10px;
  text-align: center;
}

.jumbotron-header {
  color: white;
  font-weight: 600;
  font-size: 8vw;
  letter-spacing: 10px;
  text-align: center;
}

.card {
  padding: 20px;
  border: transparent;
  color: #d48166;
}

.card-header {
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-size: larger;
}

.card-text {
  color: #5c6e58;
  text-align: center;
}

.card-button {
  background-color: #8aa899;
  color: white;
}

.card-save-button {
  background-color: #8aa899;
  color: white;
  margin-top: 5px;
}
.text-nav {
  color: #5c6e58;
}

.card-row {
  margin-top: 15px;
  border: 1px solid #8aa899;
  padding-top: 10px;
  padding-bottom: 10px;
}

